# database
sqlalchemy==1.4.40
# working with solidity & smart contracts:
hexbytes==0.3.0
web3==5.30.0
# converting SVGs
svglib==1.4.1
# converting PNGs
Pillow==9.2.0
Wand==0.6.10
# multiprocessing
joblib==1.1.0
